# Regras de associação

In [55]:
%pip install mlxtend pandas &> /dev/null

Note: you may need to restart the kernel to use updated packages.

In [56]:
import pandas as pd
from mlxtend.frequent_patterns import apriori

In [57]:
base= pd.read_csv('./data.csv', sep=';', encoding='utf-8')
base= base.map(lambda bool_str: bool_str == "Sim")
base

   Leite   Café  Cerveja    Pão  Manteiga  Arroz  Feijão
0  False   True    False   True      True  False   False
1   True  False     True   True      True  False   False
2  False   True    False   True      True  False   False
3   True   True    False   True      True  False   False
4  False  False     True  False     False  False   False
5  False  False    False  False      True  False   False
6  False  False    False   True     False  False   False
7  False  False    False  False     False  False    True
8  False  False    False  False     False   True    True
9  False  False    False  False     False   True   False

In [58]:
base.shape

(10, 7)

Executando o algoritmo apriori e salvando as regras obtidas.

In [81]:
MIN_SUPPORT = 0.3
MIN_CONFIDENCE = 0.8

rules = apriori(base, min_support=0.3, use_colnames=True)

# confidence(A->B) = support(A \/ B)/support(A)
# lift = confidence(A -> B)/support(B)

rules

   support               itemsets
0      0.3                 (Café)
1      0.5                  (Pão)
2      0.5             (Manteiga)
3      0.3            (Pão, Café)
4      0.3       (Manteiga, Café)
5      0.4        (Pão, Manteiga)
6      0.3  (Pão, Manteiga, Café)