**Regras de associação**

**Algoritmo Apriori**

**Veja: https://www.youtube.com/watch?v=0v6PiOpsJi8**

In [36]:
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: apyori in /usr/local/lib/python3.8/dist-packages (1.1.2)

In [37]:
import pandas as pd
from apyori import apriori

In [38]:
#encoding = "cp1252", encoding='utf-8', encoding='latin1'etc
base= pd.read_csv('/content/sample_data/pasta de dente python SIM.csv', ';', encoding='cp1252', header=None)
#base= pd.read_csv('/content/sample_data/pasta de dente python SIM e NÃO.csv', ';', encoding='cp1252')
#base= pd.read_csv('/content/sample_data/pasta de dente python SIM.csv', ';', encoding='cp1252',header=None)
base

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,0,1,2,3,4,5,6,7
0,Banana,Batata,Pasta de dente,Shampoo,NaN,NaN,Escova,Creme para mãos
1,NaN,NaN,NaN,Shampoo,Ervilha,NaN,NaN,NaN
2,NaN,Batata,Pasta de dente,NaN,NaN,Protetor Solar,Escova,Creme para mãos
3,NaN,Batata,NaN,NaN,Ervilha,NaN,NaN,NaN
4,Banana,Batata,NaN,Shampoo,Ervilha,NaN,Escova,NaN
5,NaN,NaN,Pasta de dente,Shampoo,NaN,Protetor Solar,Escova,Creme para mãos
6,Banana,Batata,NaN,Shampoo,NaN,Protetor Solar,Escova,NaN
7,Banana,NaN,Pasta de dente,Shampoo,NaN,NaN,NaN,NaN
8,Banana,Batata,NaN,Shampoo,Ervilha,NaN,Escova,Creme para mãos
9,Banana,NaN,NaN,Shampoo,NaN,NaN,NaN,NaN
10,Banana,Batata,NaN,Shampoo,Ervilha,NaN,Escova,NaN

In [39]:
base.shape

(11, 8)

**O código a seguir altera a base de dados para colocar as ausências dos produtos**

In [40]:
#for column in base:
#     base[column]=base[column].fillna('~' + column)

In [41]:
#base

In [42]:
#base.shape

**Como estaremos treinando um modelo a priori, que recebe entradas em formato de lista, precisamos transformar o dataframe em uma lista de transações.**

In [43]:
transacoes = []
for i in range(len(base)):
  #print(i)
  #print(base_mercado1.values[i, 0])
  transacoes.append([str(base.values[i, j]) for j in range(base.shape[1])])

In [44]:
transacoes

[['Banana',
  'Batata',
  'Pasta de dente',
  'Shampoo',
  'nan',
  'nan',
  'Escova',
  'Creme para mãos'],
 ['nan', 'nan', 'nan', 'Shampoo', 'Ervilha', 'nan', 'nan', 'nan'],
 ['nan',
  'Batata',
  'Pasta de dente',
  'nan',
  'nan',
  'Protetor Solar',
  'Escova',
  'Creme para mãos'],
 ['nan', 'Batata', 'nan', 'nan', 'Ervilha', 'nan', 'nan', 'nan'],
 ['Banana', 'Batata', 'nan', 'Shampoo', 'Ervilha', 'nan', 'Escova', 'nan'],
 ['nan',
  'nan',
  'Pasta de dente',
  'Shampoo',
  'nan',
  'Protetor Solar',
  'Escova',
  'Creme para mãos'],
 ['Banana',
  'Batata',
  'nan',
  'Shampoo',
  'nan',
  'Protetor Solar',
  'Escova',
  'nan'],
 ['Banana', 'nan', 'Pasta de dente', 'Shampoo', 'nan', 'nan', 'nan', 'nan'],
 ['Banana',
  'Batata',
  'nan',
  'Shampoo',
  'Ervilha',
  'nan',
  'Escova',
  'Creme para mãos'],
 ['Banana', 'nan', 'nan', 'Shampoo', 'nan', 'nan', 'nan', 'nan'],
 ['Banana', 'Batata', 'nan', 'Shampoo', 'Ervilha', 'nan', 'Escova', 'nan']]

In [45]:
type(transacoes)

list

**Vamos chamar executar o algoritmo apriori e armazenar as regras obtidas**

In [46]:
regras = apriori(transacoes, min_support = 0.6, min_confidence = 0.7)
saida = list(regras) 
print(len(saida))
print(saida)

8
[RelationRecord(items=frozenset({'Shampoo'}), support=0.8181818181818182, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Shampoo'}), confidence=0.8181818181818182, lift=1.0)]), RelationRecord(items=frozenset({'nan'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0)]), RelationRecord(items=frozenset({'Shampoo', 'Banana'}), support=0.6363636363636364, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Banana'}), items_add=frozenset({'Shampoo'}), confidence=1.0, lift=1.222222222222222), OrderedStatistic(items_base=frozenset({'Shampoo'}), items_add=frozenset({'Banana'}), confidence=0.7777777777777777, lift=1.222222222222222)]), RelationRecord(items=frozenset({'nan', 'Banana'}), support=0.6363636363636364, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Banana'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0)]), RelationRecord(items=frozenset({'nan', 'Batata'}), support=0.6363636363636364, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Batata'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0)]), RelationRecord(items=frozenset({'Escova', 'nan'}), support=0.6363636363636364, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Escova'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0)]), RelationRecord(items=frozenset({'Shampoo', 'nan'}), support=0.8181818181818182, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Shampoo', 'nan'}), confidence=0.8181818181818182, lift=1.0), OrderedStatistic(items_base=frozenset({'Shampoo'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'nan'}), items_add=frozenset({'Shampoo'}), confidence=0.8181818181818182, lift=1.0)]), RelationRecord(items=frozenset({'Shampoo', 'nan', 'Banana'}), support=0.6363636363636364, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Banana'}), items_add=frozenset({'Shampoo', 'nan'}), confidence=1.0, lift=1.222222222222222), OrderedStatistic(items_base=frozenset({'Shampoo'}), items_add=frozenset({'nan', 'Banana'}), confidence=0.7777777777777777, lift=1.222222222222222), OrderedStatistic(items_base=frozenset({'Shampoo', 'Banana'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'nan', 'Banana'}), items_add=frozenset({'Shampoo'}), confidence=1.0, lift=1.222222222222222), OrderedStatistic(items_base=frozenset({'Shampoo', 'nan'}), items_add=frozenset({'Banana'}), confidence=0.7777777777777777, lift=1.222222222222222)])]

In [47]:
print(saida[0])

RelationRecord(items=frozenset({'Shampoo'}), support=0.8181818181818182, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Shampoo'}), confidence=0.8181818181818182, lift=1.0)])

In [48]:
print(saida[1])

RelationRecord(items=frozenset({'nan'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0)])

In [49]:
print(saida[2])

RelationRecord(items=frozenset({'Shampoo', 'Banana'}), support=0.6363636363636364, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Banana'}), items_add=frozenset({'Shampoo'}), confidence=1.0, lift=1.222222222222222), OrderedStatistic(items_base=frozenset({'Shampoo'}), items_add=frozenset({'Banana'}), confidence=0.7777777777777777, lift=1.222222222222222)])

**Para facilitar a visualização, veja como transformar isso em um dataframe** 

Extraído de:

https://www.section.io/engineering-education/apriori-algorithm-in-python/

https://splunktool.com/understanding-apyoris-output

In [50]:
Antecedente = []
Consequente = []
suporte = []
confianca = []
lift = []

for resultado in saida:
  s = resultado[1]
  result_rules = resultado[2]
  for result_rule in result_rules:
    a = list(result_rule[0])
    b = list(result_rule[1])
    c = result_rule[2]
    l = result_rule[3]
    if 'nan' in a or 'nan' in b: continue
    if len(a) == 0 or len(b) == 0: continue
    Antecedente.append(a)
    Consequente.append(b)
    suporte.append(s)
    confianca.append(c)
    lift.append(l)
    RegrasFinais = pd.DataFrame({'Antecedente': Antecedente, 'Consequente': Consequente, 'suporte': suporte, 'confianca': confianca, 'lift': lift})

In [51]:
RegrasFinais

  Antecedente Consequente   suporte  confianca      lift
0    [Banana]   [Shampoo]  0.636364   1.000000  1.222222
1   [Shampoo]    [Banana]  0.636364   0.777778  1.222222

**Podemos ordenar estas regras por uma métrica desejada**

In [52]:
RegrasFinais.sort_values(by='lift', ascending =False)

  Antecedente Consequente   suporte  confianca      lift
0    [Banana]   [Shampoo]  0.636364   1.000000  1.222222
1   [Shampoo]    [Banana]  0.636364   0.777778  1.222222